/* .btn-outline-primary:hover{
    color: white;
    background-color: #22577a !important;
    text-decoration: none;
    transition: .5s;
}

.btn{
    border-radius: 1rem;
    margin-left: 10px;
} */
/* .a{
    margin-left: 5%;
} */

/* img{
    margin-left: 26%;
} */

@media (max-width: 768px) {
  .btn {
    margin-top: 10px;
  }
  img {
    margin-left: -1.8%;
  }
}
