.carousel .carousel-inner .carousel-item img {
  width: 100%;
  min-height: 10rem;
  height: 30rem;
  object-fit: cover;
}

@media (max-width: 768px) {
  .carousel .carousel-inner .carousel-item img {
    height: 100%;
  }
}

@media (max-width: 576px) {
  .carousel .carousel-inner .carousel-item img {
    height: 100%;
  }
}
