.carousel .carousel-inner .carousel-item img {
  width: 100%;
  min-height: 10rem;
  height: 30rem;
  object-fit: cover;
}

/* #gallery .row > * {
  padding: 0;
}

.gallery-img {
  width: 100%;
} */

.carousel {
  margin-top: 70px;
}

@media (max-width: 768px) {
  .carousel .carousel-inner .carousel-item img {
    height: 20rem;
  }

  #beranda img.img-logo {
    width: 8rem;
  }
}

@media (max-width: 576px) {
  .carousel .carousel-inner .carousel-item img {
    height: 12rem;
  }
}
