* {
  scroll-behavior: smooth;
}

p {
  font-size: 14px;
}

/* utility class */
.bg-blue-900 {
  background-color: #22577a;
}

.bg-blue-100 {
  background-color: #bbdefb;
}

.bg-blue-50 {
  background-color: #e3f2fd;
}

.bg-blue-500 {
  background-color: #2196f3;
}

.bg-blue-600 {
  background-color: #1e88e5;
}

/* navbar */
.nav-link {
  padding-left: 10px;
  transition: 150ms;
}

.nav-link:hover {
  color: #22577a !important;
  background-color: #fff;
  border-radius: 5px;
}

.text-blue-900 {
  color: #22577a;
}

.text-blue-50 {
  color: #e3f2fd;
}

.img-shadow {
  transition: 150ms;
}

.img-shadow:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.image-item {
  position: relative;
}

.image-item:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  font-size: 12px;
  color: white;
  padding: 20px;
  text-align: center;
  overflow: hidden;
}
