* {
  scroll-behavior: smooth;
}

body {
  margin-bottom: 3000px;
}

p {
  font-size: 14px;
}

/* utility class */
.bg-blue-900 {
  background-color: #22577a;
}

.bg-blue-100 {
  background-color: #bbdefb;
}

.bg-blue-50 {
  background-color: #e3f2fd;
}

.bg-blue-500 {
  background-color: #2196f3;
}

.bg-blue-600 {
  background-color: #1e88e5;
}

/* navbar */
.nav-link {
  padding-left: 10px;
  transition: 150ms;
}

.nav-link:hover {
  color: #22577a !important;
  background-color: #fff;
  border-radius: 5px;
}

.text-blue-900 {
  color: #22577a;
}
