.btn-outline-primary:hover{
    color: white;
    background-color: #22577a !important;
    text-decoration: none;
}

.btn{
    margin-left: 10px;
}
.a{
    margin-left: 5%;
}

@media (max-width: 768px){
    .btn{
        margin-top: 10px;
    }
}