/* kategori */
.kategori{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}
.kategori a{
    border: 2px solid #1e88e5;
    border-radius: .8rem;
    padding: 1rem;
    margin-left: 1.5%;
}

.kategori a:hover{
    background-color: #1e88e5;
    color: #ffff;
    text-decoration: none;
}